@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Roboto&family=Montserrat:wght@500');
/* .profile-avatar{
    margin-left: 7rem;
}
.profile-header h2{
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
    font-size: medium !important;
}

.profile-header p{
    font-family: 'Roboto', sans-serif;
    font-size: medium !important;
}

.profile-header hr{
    margin: auto !important;
    width: 50%;
    margin-bottom: 3rem;
}

.profile-avatar img{
    width: 40% !important;
} */
/* .profile-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    gap:2rem;
    justify-content: center;
    margin: 5rem auto;
} */

.profile-btn{
    padding: 5% 0 5%;
}
.profile-Img p{
    text-align: left;
    padding-left: 15%;
}



.row{
    padding-top: 2%;
}

@media (max-width: 1024px) {
    .profile-wrapper {
      width: calc(100% - 80px);
    }
  }
  
  @media (max-width: 768px) {
    .profile-wrapper {
      width: calc(100% - 80px);
    }
  }

