
.search-area{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px gainsboro solid;
}


.serach-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
    padding: 0 1rem;
    gap:1rem;
}

#searchfilter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.serach-box .mapboxgl-ctrl-geocoder {
    max-width: 100%;
}

.control-icons{
    font-size: 1.5rem;
    display: inline-flex;
    gap: 1rem;
    color:rgb(88, 104, 92);
}


.trailWrapper .row > * {
    padding: 0px;
}

.info-box {
    box-shadow: 0 2px 5px grey;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
  