@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Roboto&family=Montserrat:wght@500');

.profile-header{
    margin: auto;

}
.profile-header h1{
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem !important;
}
/* .profile-header .cards{
    padding-left: 25%;

} */