.map-container {
  height: 80vh;
}

.trailsCardSideBar{
    background-color: #fff;
    /* position: absolute; */
    z-index:1;
    overflow: scroll;
    height: 100%;
    padding: 5%;
}

.map {
  height:80vh;
}

.mapboxgl-map {
  height:100vh;
}

.instruction-panel li,p  {
  text-align: left;
}

.trailsCardSideBar button {
  margin: 5%;
}

.instruction {
  border: 1px gainsboro dotted;
  padding: 2%;
}


