.filter-container button{
    margin-right: 2rem;
    min-width: 5rem;
    padding:0.5rem 1rem;
    border:none;
    background: white;
    color:rgb(65, 168, 118);
    border:2px solid rgb(65, 36, 53);
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

 button:hover{
    background:rgb(65, 168, 118);
    color:white;
}