.searchResultCard{
    padding-top: 3rem;
    padding-left: 15%;
}

.searchResultCard img{
    height: 150px !important;
    width: 250px !important;
}

.searchTitle p{
    border-bottom:3px dotted rgb(221, 207, 207);
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    width: 50%;
    line-height: 2rem;
}