.cards-collection{
    padding-left: 2%;
}

.cards-collection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.cards-collection .card {
    margin: 2em auto;
}

.trail-map{
    padding-left: 10%;
}

.map-draft-pic{
    width:85%;
    height: 100%;
}

.headerDeleteIcon {
    display: flex;
    flex-direction: row-reverse;
}